@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body{
  background-color: #f1f1f1;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}
p img {
  height: 300px;
  width: auto;
  display: inline-block;
  object-fit: cover;
  max-width: 100%;
}
 p iframe{
  height: 400px;
 }
.animatedButton{
  animation-duration: 8000ms;
}
.ql-container {
  border:none !important;
}

.loading-bounce {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.loading-bounce span {
  width: 10px;
  height: 10px;
  background: #392bff;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loading-bounce span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-bounce span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-15px); }
}